body 
{
    font-family: Arial;
}

.navbar 
{
    background: #a4cde0;
    padding: 10px;
}

.navbar a {
    color: #825002;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;

    padding: 8px 12px;
    display: inline-block;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #007bff;
    color: white;
}

.navbar a:hover {
    background: #5ea9d6;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.profile {
    border: 1px solid #ccc;
    padding: 15px;
    width: 400px;
    background: #fafafa;
}

.profile-container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

.profile-card {
    background: #f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.profile-card p {
    font-size: 16px;
    margin: 10px 10px;
}

.btn-edit{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit:hover {
    background: #0056b3;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    width:70%;
    margin:30px auto;
}

.card{
    background:#f4f4f4;
    padding:25px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 0 8px rgba(0,0,0,.1);
    font-size:18px;
}

.chart-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:20px;
    width:70%;
    margin:auto;
}