body 
{
    font-family: Arial;
}

.navbar 
{
    background: #a4cde0;
    padding: 10px;
}

.navbar a
{
    color: #825002;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: bold;
}